

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  
  /*  body{
        background-image: url(eiliv-aceron-M-pEl_nv1Q0-unsplash.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size:contain;
        background-color: black;
    } */

    #responsive-img{

        position: fixed;
        width: 100%;
    }

    
    
 /* HOME */
    .Body{
        position: relative;
        top: 9em;
    }

    h1{
        text-align: center;
        font-size: 3.6em;
        position: relative;
        z-index: 1;
        height: 10em;
        font-family: 'Mynerve', cursive;
    }

    


}




    /* MENU */

    #txt-color{
        color: rgb(172, 183, 92);
        font-size: 0.8em;
        font-weight: bold;
        text-shadow: 1px 1px 3px black;
    }
    #txt-color2{
        text-decoration: underline 3px;
        font-size: 1em;
        color: darkorange;
        text-shadow: 1px 1px 3px black;
    }
    #price{
        color: darkorange;
        text-shadow: 1px 1px 3px black;

    }

    .container{
        background-color: rgba(0, 0, 0, 0.363);
    }

    h2 {
        font-size: 3.5em;
        text-shadow: 1px 1px 3px black;
        font-family: 'Gloock', serif;

    }

    h3{
        color: rgb(62, 214, 103);
        padding-top: 20px;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
        font-size: 1.5em;
        
    }

    #CheeseBur{
        font-size: 1vw;
    }

    .MenuList li{
        list-style-type: none;
        text-align: left;
        color: rgb(252, 252, 252);
        padding: 0.5em;
        text-shadow: 1px 1px 3px black;
        font-size: 1.4em;

    }
    .MenuList{
        padding-top: 10px;
    }
    
    i{
        color: rgb(245, 245, 245);
        font-size: 1em;
        text-shadow: 1px 2px 3px rgb(215, 68, 68);
        font-weight: bolder;
        font-family: 'Nanum Brush Script', cursive;

    }
    em{
        color: rgb(255, 255, 255);
        font-size: 1em;
        text-shadow: 1px 2px 3px rgb(215, 68, 68);
        font-weight: bolder;
        font-family: 'Nanum Brush Script', cursive;


    }



    /* LOCATION */

    .grid{
        position: relative;
        top: 20px;
        background-color: rgba(0, 0, 0, 0.381);
        height: 60em;
    }

    #LOCATION{
        color: rgb(244, 244, 244);
        font-size: 2.6em;
        padding-bottom: 50px;
        text-shadow: 2px 2px 4px black;
        font-family: 'Gloock', serif;


    }

        .HourOp{
            position: relative;
            top: 1em;
            font-family: 'Gloock', serif;

        }
    address{
        font-size: 2.5em;
        color: aliceblue;
        text-shadow: 2px 2px 3px black;
    }


     a{
            font-size: 2em;
            list-style-type: none;
            text-decoration: none;
            color: blue;
        }
        a:hover{
            color: red;
        }
    .fa-solid {
        font-size: 1.5em;
        color: rgb(21, 248, 40);
        text-shadow: 1px 3px 3px red;
        cursor: pointer;
    }
    .fa-solid:hover{
        color: red;
        text-shadow: 1px 3px 3px green;
       
    }
    #h-operation{
        font-size: 1.5em;
        position: relative;
        top: 2em;
    }

    #h-operation strong{
        color: lightblue;
    }

    #Hh-oper{
        color: rgb(247, 248, 247);
        font-size: 2.6em;
        text-shadow: 1px 0px 3px black;
    }

        .img-responsive{
            width: 25%;
            position: relative;
            top: -0.6em;       
        }
            .img-responsive:hover{
                border: 0.5px solid rgb(187, 255, 0);
                border-left: none;
                border-right: none;
                position:relative;
                width: 25%;
               top: -0.6em;  
            }























    







/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    body{
        background-color: rgb(178, 102, 25);
        display: none;
    }

    
/* NAVIGATION */
.Nav {
    background-color: rgba(0, 255, 255, 0.51);
    position: fixed;
    width: 100%;
    height: 5em;

}

.Nav a{
    color: red;
    text-decoration: none;
    position: relative;
    top: 1.2em;
    font-size: 2em;

}


}







/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body{
        background-color: blue;
    }
    

}

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */